body{
    margin:0%;
    padding:0%;
    background: linear-gradient(to right,skyblue,blue,purple);
    /*background-color:yellow ;*/
}
.container{
    margin:100px auto;
    text-align: center;
}
.heading{
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color:  #97b597;
}
p{
    font-size: 5rem ;

}
button{
    padding: 18px 10px;
    font-size: 1.2rem;
    width: 180px;
    margin: 10px;
}
button:hover{
    cursor: pointer;
    background-color:#143593;
    color:#fff;
    transition: 0.4s;
    border: none;
}
